./BrowserStackLocal
./BrowserStackLocal-linux.zip
.idea/
bower_components/
node_modules/
browserify/
npm-debug.log
yuidoc/
tests.js
test/e2e/nightwatch/reports/
assets.zip
assets.tar.gz

public/assets/atlas/combined.json
public/assets/atlas/combined.png
public/assets/audiosprite/
public/assets/atlas/combined-2016.json
public/assets/atlas/combined-2016.png