extends layout

block content
  p(style='visibility: hidden; position: absolute')='Thrust 2016 is @hayes_maker\'s remake of classic 8-bit physics shooter: Thrust for IOS, Android and Web'
  script(src="javascripts/vendor/TweenMax.min.js")
  script(src="javascripts/vendor/ColorPropsPlugin.min.js")
  script(src="javascripts/vendor/SplitText.min.js")
  script(src="javascripts/vendor/phaser.min.js")
  script(src="javascripts/vendor/phaser-virtual-joystick.js")
  script(src="javascripts/vendor/particle-storm-scrambled.js")
  script(src="javascripts/vendor/filter-film-grain.js")
  script(src="javascripts/vendor/filter-s-noise.js")
  script(src="javascripts/vendor/filter-vignette.js")
  script(src= engine)