extends layout

block content
  p(style='visibility: hidden; position: absolute')= 'Font is loaded with page'

  script(src="javascripts/vendor/TweenMax.js")
  script(src="javascripts/vendor/phaser.min.js")
  script(src="javascripts/vendor/phaser-virtual-joystick.js")
  script(src="javascripts/vendor/particle-storm-scrambled.js")
  script(src= engine)