extends layout
block content
  include header
  img(src='https://travis-ci.org/hayesmaker/thrust-engine.svg?branch=master')
  p
  ul
    li
      a(href='/dev')='Play Thrust'
        |  #[a(href='/min') (minified)] #[a(href='/dev') (dev)]
    li
      a(href='/javascripts/test/' target='blank')='Unit Tests'
    li
      a(href='https://github.com/hayesmaker/thrust-engine' target='blank')='Github'
    li
      a(href='/yuidoc' target='blank')='Source Documentation'
