doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        include google-analytics
        include twitter-follow
    body
        include header
        #topGradient
            img.logo(src='/assets/images/thrust-homepage-gradient-logo.png')
            iframe.video(width="853" height="480" src="https://www.youtube.com/embed/hUQ3x2m-OWI" frameborder="0" allowfullscreen)
        #steam
            a(href='http://steamcommunity.com/sharedfiles/filedetails/?id=823415391' target='_blank')
                img.steam(src='/assets/images/steam-button.png')
        #level2Map
            img.level-map(src='/assets/images/thrust-homepage-level2.png')