doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="javascripts/browserify/phaser.2.3.1-virtual-joystick.js")
    script(src="javascripts/browserify/thrust-engine.js")
  body
    block content