doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="javascripts/vendor/TweenMax.js")
    script(src="javascripts/vendor/phaser2.4.4.js")
    script(src="javascripts/vendor/phaser-virtual-joystick.js")
    script(src= engine)
    script.
      window.noShow = true;
  body
    block content