doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="javascripts/vendor/phaser-official/phaser.js")
    script(data-main="javascripts/src/app/app" src="javascripts/vendor/requirejs/require.js")
  body
    block content