block review
  #review
    h1="About"
    .readable.
      Credits:
      <br>
       | Programming: Andy Hayes
      <br>
       | Music & SFX: Matt Gray
      <br>
       | Additional Music: Martin Keary
      <br>
       | Graphics: Martin Keary & Andy Hayes
      <br>
       | "Thrust" original Programming and Copyright: Jeremy Smith
      <br>
      <br>
      Celebrating the 30th anniversary of Jeremy Smith's "Thrust".
      In 1986 Firebird released a deviously fiendish physics based space explorer on Commodore 64.
      <br>
      <br>
      The game featured simple 2d vector graphics, a physics engine, limpet guns, and an orb.
      You controlled a ship, and your task on each level was to collect the orb, by
      means of a tractor beam which, when attached to the orb, would complicate the gravitational and thrust
      forces acting on your ship. making escaping the cave style level layouts require
      extraordinary skill and control.  Then fly the orb upwards into space where you
      hyperspace to the next level.
      <br>
      <br>
      The game, for a budget release was well received, and gameplay stands up well
      even today.  I've enjoyed playing the game a lot on emulators of the classic systems, but
      was fustrated with the poor IOS and android clones which can be found in the App store.
      <br>
      <br>
      So I decided to write one myself.
      <br>
      <br>
      This is the Thrust 30 Development portal. Here you can play builds of the
      game as it is developed, on your PC / Mac or any other HTML5 enabled device
      Basically anything with a moderately fast CPU and a browser.
      <br>
      <br>
      The game itself is open-source javascript.  You can fork the codebase
      and write your own Thrust inspired games, help main platform development,
      or simply enjoy playing the game through its development cycles.
      <br>
      <br>
      Follow me on twitter for updates.
      <br>
      <br>
      @hayes_maker