@font-face {
  font-family: 'thrust_regular';
  src: url('/assets/fonts/thrust-webfont.eot');
  src: url('/assets/fonts/thrust-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/thrust-webfont.woff2') format('woff2'),
  url('/assets/fonts/thrust-webfont.woff') format('woff'),
  url('/assets/fonts/thrust-webfont.ttf') format('truetype'),
  url('/assets/fonts/thrust-webfont.svg#thrust_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  color: whitesmoke;
  background-color: #003366;
  margin: 0;
  padding: 0;
  font: 16px "thrust_regular", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #abc978;
  text-decoration: none;
}

a:hover {
  color: #00B7FF;
}

h1 {
  color: lightcoral;
  font-size: 24px;
  border-bottom: thin solid darkgray;
  padding-bottom: 20px;
}

h1 small {
  color: lightslategrey;
  font-size: 12px;
}

ul {
  margin: 0 0 0 20px;
  padding: 0;
  color: white;
  list-style-type: square;
  line-height: 150%;
}